/*Footers*/
footer {
  color: white;
  background-color: black;
  text-align: center;
  font-family: 'Noto Sans JP', sans-serif;
  text-align: center;
  margin-top: 50px;
}

.footer-index {
  margin-top: 150px;
}

.footer-mirutina {
  margin-top: 130px;
}

.footer-contacto {
  margin-top: 122px;
}